
DemoCode/Lecture06-PhysicalComputing2/FractalTree/~$DesignResearch.pptx
DemoCode/Lecture06-PhysicalComputing2/ArduinoFractalTreeReverseGrowth/Leaf.pde
DemoCode/Lecture06-PhysicalComputing2/ArduinoFractalTreeReverseGrowth/Branch.pde
DemoCode/Lecture06-PhysicalComputing2/ArduinoFractalTreeReverseGrowth/ArduinoFractalTreeReverseGrowth.pde
